@media screen and (max_height : 830px) {
    .wrap{
        height: 100%;
        padding-bottom: 180px;
    }
    
}

@media screen and (max_width : 300px) {
    .wrap{
        height: 100%;
        padding-bottom: 200px;
    }
    
}

.wrap {
    width: 375px;
    height: 100vh;
    height: -webkit-fill-available;
    height: fill-available;
    margin: 0 auto;
    position: relative;
    padding: 0;
    z-index: 0;
    overflow: visible;
}
/* 메뉴 바 스타일 */
.menubar {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.menubar a {
    text-decoration: none;
    color: #fff;
}

.menubar img {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
}

.menubar p {
    font-size: 14px;
    text-align: center;
}